extends app

block card
  section(class=`flashcards`)
    .card(class=`card-${side}`)
      .card-header
      h1.card-title= side
      #content
        h2= text
        if hint
          p.hint
            i= `Hint: ${hint}`
      br
      .card-flip-wrap
        a(href=`${id}?side=${sideToShow}`)
          img.card-flip(src='/static/img/flip.svg')
      .card-next
        a(href='/cards')
          img(src="/static/img/next.svg")
    script(src='/static/js/app.js')
 
      
    //
      i Hint: #{hint} - pug Template Literal
      .
      Samples with property
      h1(title='Hi' + animal + '!') text
      h1(title=`Hi ${animal}!`) text
      .
      *** TH preffers JS template Lieterals ***
